{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
<form action="" method="post" class="open-gym-page">
    {% csrf_token %}
    {{form|crispy}}
    <input type="submit" value="Save" class="btn btn-primary"/>
</form>
    <aside>
    <p>Het is mogelijk om opmaak toe te voegen aan de beschrijving van de lessen door Markdown te gebruiken in je tekst.
        Dit houdt in dat je witregels kan toevoegen, woorden benadrukken met *asterisk* of _underscore_, etc.
        <a href="https://daringfireball.net/projects/markdown/syntax" target="_blank">Hier</a> kan je lezen hoe de syntax werkt,
        en <a href="https://markdown-editor.github.io/" target="_blank">deze website</a> kan helpen om de tekst opstellen.
    </p>
    </aside>
{% endblock %}